# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Marching-cubes-on-Unity-3D-master.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\BaszALetöltést\Marching-cubes-on-Unity-3D-master\.idea\.idea.Marching-cubes-on-Unity-3D-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
