# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SurvivalGame.iml
# Datasource local storage ignored files
/../../../../../../:\GitHub\SurvivalGame\.idea\.idea.SurvivalGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
